<div class="class">
  <div class="escrita">
      <h1>
          Tenha N Possibilidades<br>de produtos para N<br>Possibilidades na vida
      </h1>
      <h3>
          O que você precisa pra ficar no controle da sua<br>vida financeira tem no app do Nubank.
      </h3>
  </div>
  <div class="cpf">
      <h2>Peça sua conta e cartão de crédito do Nubank</h2>
      <div class="input-container">
        <input type="text" id="inputField" required>
        <label for="inputField">Digite seu CPF</label>
      </div>
      <button>Continuar</button>
  </div>
</div>
